.simple-color-diff .pl-c {
    color:#333
}
.simple-color-diff .pl-c1, .simple-color-diff .pl-mdh, .simple-color-diff .pl-mm, .simple-color-diff .pl-mp, .simple-color-diff .pl-mr, .simple-color-diff .pl-s1 .pl-v, .simple-color-diff .pl-s3, .simple-color-diff .pl-sc, .simple-color-diff .pl-sv {
    color:#333
}
.simple-color-diff .pl-e, .simple-color-diff .pl-en {
    color:#333
}
.simple-color-diff .pl-s1 .pl-s2, .simple-color-diff .pl-smi, .simple-color-diff .pl-smp, .simple-color-diff .pl-stj, .simple-color-diff .pl-vo, .simple-color-diff .pl-vpf {
    color:#333
}
.simple-color-diff .pl-ent {
    color:#333
}
.simple-color-diff .pl-k, .simple-color-diff .pl-s, .simple-color-diff .pl-st {
    color:#333
}
.simple-color-diff .pl-pds, .simple-color-diff .pl-s1, .simple-color-diff .pl-s1 .pl-pse .pl-s2, .simple-color-diff .pl-sr, .simple-color-diff .pl-sr .pl-cce, .simple-color-diff .pl-sr .pl-sra, .simple-color-diff .pl-sr .pl-sre, .simple-color-diff .pl-src, .simple-color-diff .pl-v {
    color:#333
}
.simple-color-diff .pl-id {
    color:#333
}
.simple-color-diff .pl-ii {
    color:#333
}
.simple-color-diff .pl-sr .pl-cce {
    color:#333
}
.simple-color-diff .pl-ml {
    color:#333
}
.simple-color-diff .pl-mh, .simple-color-diff .pl-mh .pl-en, .simple-color-diff .pl-ms {
    color:#333;
}
.simple-color-diff .pl-mq {
    color:#333
}
.simple-color-diff .pl-mi {
    color:#333
}
.simple-color-diff .pl-mb {
    color:#333
}
.simple-color-diff .pl-md, .simple-color-diff .pl-mdhf {
    color:#333
}
.simple-color-diff .pl-mdht, .simple-color-diff .pl-mi1 {
    color:#333
}
.simple-color-diff .pl-mdr {
    color:#333;
}
.simple-color-diff .pl-mo {
    color:#333
}
